.EDEDED{
	width: 100px;
	background-color: #EDEDED;
}
.D4DDEE{
	width: 100px;
	background-color: #D4DDEE;
}
.FFE5D4{
	width: 100px;
	background-color: #FFE5D4;
}
.DDF3D9{
	width: 100px;
	background-color: #DDF3D9;
}
.FFF4CA{
	width: 100px;
	background-color: #FFF4CA;
}
