.EDEDED{
	background-color: #EDEDED;
}
.D4DDEE{
	background-color: #D4DDEE;
}
.FFE5D4{
	background-color: #FFE5D4;
}
.DDF3D9{
	background-color: #DDF3D9;
}
.FFF4CA{
	background-color: #FFF4CA;
}
.colorTag{
	position: absolute;
	margin-top: 30px;
	width: 90px;
	height: 20px;
	z-index: 2;
	transform: translateX(-65%);
}
.cardWidth{
	width: 800px;
}
.todoCard{
	height: 100px;
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px;
}
.btn{
	display: inline;
	background-color: white;
	border: none;
	cursor: pointer;
}
.todoName{
	display: inline;
}
.deleteTodo{
	background-color: white !important;
}
.addTodo{
	background-color: gray !important;
}
.datePicker{
	transform: translateX(-50%);
	height: 56px;
}
.w-small{
	/* small width */
	width: 150px !important;
	overflow: hidden;
}
.DateFormatInput-input-58{
	/* date picker height bug */
	text-align: right;
	height: 32px !important;
}
.MuiFormControlLabel-root{
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}

.tag {
	font-family: Muli, monospace;
	padding: 0;
	color: #3A539B;
	font-size: 28px;
	width: 24em;
	animation: type 3s steps(300, end);
	animation-iteration-count: infinite;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
}

.caret {
	animation: blink 1s;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}